@font-face {
    font-family: "Comforta-regular";
    src: url(../fonts/Comfortaa-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Comforta-bold";
    src: url(../fonts/Comfortaa-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat-regular";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat-bold";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Roboto-regular";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto-bold";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}